.calendar-day:hover .calendar-day-number {
  color: black;
  background-color: rgb(240, 240, 240);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.15s all;
}
.time-grid {
  position: relative;
  height: 100%;
}

.time-slot {
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #ccc;
}

.event {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 5px;
  color: white;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
}
.blue-bg {
  background-color: rgb(222, 240, 255);
}
.green-bg {
  background-color: rgb(221, 255, 230);
}
.purple-bg {
  background-color: rgb(240, 225, 255);
}
.yellow-bg {
  background-color: rgb(255, 242, 204);
}
.gray-bg {
  background-color: rgb(230, 230, 230);
}
.gray-border {
  border-top: 1px dashed gray;
}
.gray-border-axis {
  border-top: 1px solid #edeef1;
  border-left: 1px solid #edeef1;
}
.gray-border-bottom {
  border-bottom: 1px solid #edeef1;
}
.backIcon {
  max-height: 100%;
  max-width: 100%;
  opacity: 3%;
}
