/* Hide scrollbars for all elements */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

/* Hide scrollbars for WebKit browsers (Chrome, Safari, etc) */
*::-webkit-scrollbar {
  display: none;
}

@import "tailwindcss";
body {
  font-family: "Rubik", serif;
  overflow: hidden;
  user-select: none;
}

.modalTime::-webkit-calendar-picker-indicator {
  position: absolute;
  width: 26%;
  height: 20px;
  margin: 0px;
  padding: 5px 0px;
  margin-left: -15px;
  z-index: 30;
  opacity: 0;
}

.modalTime {
  padding: 5px 15px;
}

.workingHours::-webkit-calendar-picker-indicator {
  opacity: 0;
  width: 11%;
  position: absolute;
  margin-left: -5px;
  padding: 9px 0px;
}
